Repository privacy-scaling-explorations/zk-kit.solidity: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, forge fmt

.lintstagedrc.json:

{
    "**/*.{js,ts,md,json,yml,yaml}": "prettier --write",
    "**/*.sol": "forge fmt"
}

chore(lazy-imt): migrate to forge
  packages/lazy-imt/.prettierrc.json
  packages/lazy-imt/.solhint.json
  packages/lazy-imt/LICENSE
  packages/lazy-imt/README.md
  packages/lazy-imt/contracts/LICENSE
  packages/lazy-imt/contracts/README.md
  packages/lazy-imt/contracts/package.json
  packages/lazy-imt/hardhat.config.ts
  packages/lazy-imt/package.json
  packages/lazy-imt/scripts/defaultZeroes.mjs
  packages/lazy-imt/src/Constants.sol
  packages/lazy-imt/src/InternalLazyIMT.sol
  packages/lazy-imt/src/LazyIMT.sol
  packages/lazy-imt/tasks/deploy-imt-test.ts
  packages/lazy-imt/test/LazyIMT.ts
  packages/lazy-imt/test/LazyIMTTest.sol
  packages/lazy-imt/tsconfig.json
Due: prettier --write, forge fmt

chore(lazytower): migrate to forge
  packages/lazytower/.prettierrc.json
  packages/lazytower/.solhint.json
  packages/lazytower/LICENSE
  packages/lazytower/README.md
  packages/lazytower/contracts/LICENSE
  packages/lazytower/contracts/README.md
  packages/lazytower/contracts/package.json
  packages/lazytower/hardhat.config.ts
  packages/lazytower/package.json
  packages/lazytower/src/LazyTowerHashChain.sol
  packages/lazytower/tasks/deploy-lazytower-test.ts
  packages/lazytower/test/LazyTowerHashChainTest.sol
  packages/lazytower/test/LazyTowerHashChainTest.ts
  packages/lazytower/test/utils.ts
  packages/lazytower/tsconfig.json
Due: prettier --write, forge fmt

chore(imt): migrate to forge
  packages/imt/.prettierrc.json
  packages/imt/.solhint.json
  packages/imt/LICENSE
  packages/imt/README.md
  packages/imt/contracts/README.md
  packages/imt/contracts/package.json
  packages/imt/hardhat.config.ts
  packages/imt/package.json
  packages/imt/src/BinaryIMT.sol
  packages/imt/src/Constants.sol
  packages/imt/src/InternalBinaryIMT.sol
  packages/imt/src/InternalQuinaryIMT.sol
  packages/imt/src/LICENSE
  packages/imt/src/QuinaryIMT.sol
  packages/imt/tasks/deploy-imt-test.ts
  packages/imt/test/BinaryIMT.ts
  packages/imt/test/BinaryIMTTest.sol
  packages/imt/test/QuinaryIMT.ts
  packages/imt/test/QuinaryIMTTest.sol
  packages/imt/tsconfig.json
Due: prettier --write, forge fmt

chore(excubiae): migrate to forge
  packages/excubiae/.prettierrc.json
  packages/excubiae/.solhint.json
  packages/excubiae/LICENSE
  packages/excubiae/README.md
  packages/excubiae/contracts/LICENSE
  packages/excubiae/contracts/README.md
  packages/excubiae/contracts/package.json
  packages/excubiae/hardhat.config.ts
  packages/excubiae/package.json
  packages/excubiae/src/Excubia.sol
  packages/excubiae/src/IExcubia.sol
  packages/excubiae/src/extensions/EASExcubia.sol
  packages/excubiae/src/extensions/ERC721Excubia.sol
  packages/excubiae/src/extensions/FreeForAllExcubia.sol
  packages/excubiae/src/extensions/SemaphoreExcubia.sol
  packages/excubiae/tasks/.gitkeep
  packages/excubiae/test/MockEAS.sol
  packages/excubiae/test/MockERC721.sol
  packages/excubiae/test/MockSemaphore.sol
  packages/excubiae/tsconfig.json
Due: prettier --write, forge fmt

chore(excubiae): fix package.json homepage
  packages/excubiae/package.json
Due: prettier --write

chore(excubiae): update package.json keywords
  packages/excubiae/package.json
  packages/imt/package.json
  packages/lazy-imt/package.json
  packages/lazytower/package.json
  packages/lean-imt/package.json
  yarn.lock
Due: prettier --write

fix: update imports in sol test files
  packages/imt/test/BinaryIMTTest.sol
  packages/imt/test/QuinaryIMTTest.sol
  packages/lazy-imt/test/LazyIMTTest.sol
  packages/lazytower/test/LazyTowerHashChainTest.sol
Due: forge fmt

chore: remove ts related deps/files
  package.json
  packages/excubiae/test/EASExcubia.test.ts
  packages/excubiae/test/ERC721Excubia.test.ts
  packages/excubiae/test/FreeForAllExcubia.test.ts
  packages/excubiae/test/SemaphoreExcubia.test.ts
  yarn.lock
Due: prettier --write

refactor: update main workflow
  .github/workflows/main.yml
  .gitignore
  foundry.toml
  package.json
Due: prettier --write

chore: define publish.sh
  package.json
  scripts/publish.sh
Due: prettier --write

fix: use `yarn` to run `prettier` when lintstaging
  .lintstagedrc.json
Due: prettier --write

ci: trigger publish to branch on pr to forge-dev
  .github/workflows/release.yml
  scripts/publish.sh
Due: prettier --write

feat(excubiae): add trait mechanism
  packages/excubiae/contracts/Excubia.sol
  packages/excubiae/contracts/IExcubia.sol
  packages/excubiae/contracts/extensions/EASExcubia.sol
  packages/excubiae/contracts/extensions/ERC721Excubia.sol
  packages/excubiae/contracts/extensions/FreeForAllExcubia.sol
  packages/excubiae/contracts/extensions/GitcoinPassportExcubia.sol
  packages/excubiae/contracts/extensions/HatsExcubia.sol
  packages/excubiae/contracts/extensions/SemaphoreExcubia.sol
  packages/excubiae/contracts/extensions/ZKEdDSAEventTicketPCDExcubia.sol
  packages/excubiae/test/EASExcubia.test.ts
  packages/excubiae/test/ERC721Excubia.test.ts
  packages/excubiae/test/FreeForAllExcubia.test.ts
  packages/excubiae/test/GitcoinPassportExcubia.test.ts
  packages/excubiae/test/HatsExcubia.test.ts
  packages/excubiae/test/SemaphoreExcubia.test.ts
  packages/excubiae/test/ZKEdDSAEventTicketPCD.test.ts
Due: prettier --write, forge fmt

refactor(excubiae): enforce check-effects-interactions pattern; minor gas saving improvements
  packages/excubiae/contracts/extensions/EASExcubia.sol
  packages/excubiae/contracts/extensions/ERC721Excubia.sol
  packages/excubiae/contracts/extensions/FreeForAllExcubia.sol
  packages/excubiae/contracts/extensions/GitcoinPassportExcubia.sol
  packages/excubiae/contracts/extensions/HatsExcubia.sol
  packages/excubiae/contracts/extensions/SemaphoreExcubia.sol
  packages/excubiae/contracts/extensions/ZKEdDSAEventTicketPCDExcubia.sol
Due: forge fmt

ci: fix publish script
  scripts/publish.sh
Due: none

ci: fix release workflow syntax
  .github/workflows/release.yml
Due: prettier --write

fix: fix regex in publish script
  scripts/publish.sh
Due: none

chore: exclude release script from release workflow
  .github/workflows/release.yml
Due: prettier --write

fix: do not use brace expansion
  scripts/publish.sh
Due: none

Complete porting for MACI gatekeepers (#31)
  packages/excubiae/contracts/Excubia.sol
  packages/excubiae/contracts/IExcubia.sol
  packages/excubiae/contracts/README.md
  packages/excubiae/contracts/extensions/EASExcubia.sol
  packages/excubiae/contracts/extensions/ERC721Excubia.sol
  packages/excubiae/contracts/extensions/FreeForAllExcubia.sol
  packages/excubiae/contracts/extensions/GitcoinPassportExcubia.sol
  packages/excubiae/contracts/extensions/HatsExcubia.sol
  packages/excubiae/contracts/extensions/SemaphoreExcubia.sol
  packages/excubiae/contracts/extensions/ZKEdDSAEventTicketPCDExcubia.sol
  packages/excubiae/contracts/extensions/interfaces/IGitcoinPassportDecoder.sol
  packages/excubiae/contracts/extensions/interfaces/IHatsMinimal.sol
  packages/excubiae/contracts/extensions/verifiers/ZKEdDSAEventTicketPCDVerifier.sol
  packages/excubiae/contracts/test/MockEAS.sol
  packages/excubiae/contracts/test/MockGitcoinPassportDecoder.sol
  packages/excubiae/contracts/test/MockHats.sol
  packages/excubiae/hardhat.config.ts
  packages/excubiae/test/EASExcubia.test.ts
  packages/excubiae/test/ERC721Excubia.test.ts
  packages/excubiae/test/FreeForAllExcubia.test.ts
  packages/excubiae/test/GitcoinPassportExcubia.test.ts
  packages/excubiae/test/HatsExcubia.test.ts
  packages/excubiae/test/SemaphoreExcubia.test.ts
  packages/excubiae/test/ZKEdDSAEventTicketPCD.test.ts
Due: prettier --write, forge fmt

fix: update find rm command
  scripts/publish.sh
Due: none

ci: setup git user and email to github actions user
  .github/workflows/release.yml
Due: prettier --write

ci: update publish script
  scripts/publish.sh
Due: none

ci: debug
  scripts/publish.sh
Due: none

ci: refactor publish workflow
  .github/workflows/release.yml
  package.json
  scripts/publish-for-forge.sh
Due: prettier --write

refactor: use sh scripts to bump/remove stable version
  package.json
  scripts/remove-stable-version-field.sh
  scripts/remove-stable-version-field.ts
  scripts/version-bump.sh
Due: prettier --write

feat: handle usage error
  scripts/version-bump.sh
Due: none

refactor: update publish for forge script
  scripts/publish-for-forge.sh
Due: none

chore: comment
  .github/workflows/release.yml
Due: prettier --write

ci: update release workflow
  .github/workflows/release.yml
  scripts/publish-for-forge.sh
Due: prettier --write

ci: update publish-for-forge.sh
  .github/workflows/release.yml
  scripts/publish-for-forge.sh
Due: prettier --write

Complete porting for MACI gatekeepers (#31)
  excubiae/README.md
  excubiae/src/Excubia.sol
  excubiae/src/IExcubia.sol
  excubiae/src/extensions/EASExcubia.sol
  excubiae/src/extensions/ERC721Excubia.sol
  excubiae/src/extensions/FreeForAllExcubia.sol
  excubiae/src/extensions/SemaphoreExcubia.sol
  imt/README.md
  imt/src/BinaryIMT.sol
  imt/src/Constants.sol
  imt/src/InternalBinaryIMT.sol
  imt/src/InternalQuinaryIMT.sol
  imt/src/LICENSE
  imt/src/QuinaryIMT.sol
  lazy-imt/README.md
  lazy-imt/src/Constants.sol
  lazy-imt/src/InternalLazyIMT.sol
  lazy-imt/src/LazyIMT.sol
  lazytower/README.md
  lazytower/src/LazyTowerHashChain.sol
  lean-imt/README.md
  lean-imt/src/Constants.sol
  lean-imt/src/InternalLeanIMT.sol
  lean-imt/src/LeanIMT.sol
Due: prettier --write, forge fmt

docs: update README
  .github/workflows/release.yml
  README.md
Due: prettier --write

chore: fix script to publish packages
  README.md
  package.json
Due: prettier --write

chore(excubiae): v0.1.0
  packages/excubiae/contracts/package.json
Due: prettier --write

chore: update hardhat gas reporter dependency
  packages/excubiae/.env.example
  packages/excubiae/hardhat.config.ts
  packages/excubiae/package.json
  packages/imt/.env.example
  packages/imt/hardhat.config.ts
  packages/imt/package.json
  packages/lazy-imt/.env.example
  packages/lazy-imt/hardhat.config.ts
  packages/lazy-imt/package.json
  packages/lazytower/.env.example
  packages/lazytower/hardhat.config.ts
  packages/lazytower/package.json
  packages/lean-imt/.env.example
  packages/lean-imt/hardhat.config.ts
  packages/lean-imt/package.json
  yarn.lock
Due: prettier --write
