Repository privacy-scaling-explorations/zk-kit.solidity: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, forge fmt

chore: update hardhat gas reporter dependency (#36)
  packages/excubiae/.env.example
  packages/excubiae/hardhat.config.ts
  packages/excubiae/package.json
  packages/imt/.env.example
  packages/imt/hardhat.config.ts
  packages/imt/package.json
  packages/lazy-imt/.env.example
  packages/lazy-imt/hardhat.config.ts
  packages/lazy-imt/package.json
  packages/lazytower/.env.example
  packages/lazytower/hardhat.config.ts
  packages/lazytower/package.json
  packages/lean-imt/.env.example
  packages/lean-imt/hardhat.config.ts
  packages/lean-imt/package.json
  yarn.lock
Due: yarn prettier --write

chore: add local `slither` script
  package.json
  packages/excubiae/package.json
  packages/imt/package.json
  packages/lazy-imt/package.json
  packages/lazytower/package.json
  packages/lean-imt/package.json
  scripts/check-slither.sh
Due: yarn prettier --write

refactor(lazy-imt): remove unecessary `await` in test
  packages/lazy-imt/test/LazyIMT.ts
Due: yarn prettier --write

chore: fix lintstaged format task
  .lintstagedrc.json
Due: yarn prettier --write

docs: update README
  README.md
Due: yarn prettier --write

chore: add local `slither` script (#34)
  .lintstagedrc.json
  README.md
  package.json
  packages/excubiae/package.json
  packages/imt/package.json
  packages/lazy-imt/package.json
  packages/lazy-imt/test/LazyIMT.ts
  packages/lazytower/package.json
  packages/lean-imt/package.json
  scripts/check-slither.sh
Due: yarn prettier --write

ci: make required checks passed if skipped
  .github/workflows/main.yml
Due: yarn prettier --write

fix: revert change on changed files glob
  .github/workflows/main.yml
Due: yarn prettier --write

ci: make required checks passed if skipped (#37)
  .github/workflows/main.yml
Due: yarn prettier --write

docs: update README.md
  README.md
Due: yarn prettier --write

refactor(lazy-imt): target depth calculation
  packages/lazy-imt/contracts/InternalLazyIMT.sol
Due: forge fmt

refactor: variable name
  packages/lazy-imt/contracts/InternalLazyIMT.sol
Due: forge fmt

refactor(lazy-imt): target depth calculation (#39)
  packages/lazy-imt/contracts/InternalLazyIMT.sol
Due: forge fmt

chore(excubiae): add deprecation notice on readme & package description
  packages/excubiae/contracts/README.md
  packages/excubiae/contracts/package.json
Due: yarn prettier --write

chore(excubiae): v0.1.1
  packages/excubiae/contracts/package.json
Due: yarn prettier --write

Deprecate `@zk-kit/excubiae` (#45)
  packages/excubiae/contracts/README.md
  packages/excubiae/contracts/package.json
Due: yarn prettier --write

Fix Incorrect Link to Slither Installation Guide
  scripts/check-slither.sh
Due: none

Fix Incorrect Link to Slither Installation Guide (#46)
  scripts/check-slither.sh
Due: none

refactor: removed dead code (#40)
  packages/imt/contracts/BinaryIMT.sol
Due: forge fmt

refactor: removed dead code (#40) (#47)
  packages/imt/contracts/BinaryIMT.sol
Due: forge fmt

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: yarn prettier --write

docs: update pull_request_template.md
  .github/pull_request_template.md
Due: yarn prettier --write

style: format code
  .github/pull_request_template.md
Due: yarn prettier --write

fix(lean-imt): update stale side nodes values when performing a leaf node update
  packages/lean-imt/contracts/InternalLeanIMT.sol
  packages/lean-imt/test/LeanIMT.ts
Due: yarn prettier --write, forge fmt

chore: update codeowners file
  .github/CODEOWNERS
Due: none

chore: update codeowners file (#50)
  .github/CODEOWNERS
Due: none

fix(lean-imt): removing unused logic for checking sidenodes in update fix
  packages/lean-imt/contracts/InternalLeanIMT.sol
Due: forge fmt

fix(lean-imt): update stale side nodes values when performing a leaf node update (#49)
  packages/lean-imt/contracts/InternalLeanIMT.sol
  packages/lean-imt/test/LeanIMT.ts
Due: yarn prettier --write, forge fmt

fix: use correct path
  scripts/remove-stable-version-field.ts
Due: yarn prettier --write

refactor: update variable name
  scripts/remove-stable-version-field.ts
Due: yarn prettier --write

fix: remove stable version script (#51)
  scripts/remove-stable-version-field.ts
Due: yarn prettier --write

chore(lean-imt.sol): v2.0.1
  packages/lean-imt/contracts/package.json
  yarn.lock
Due: yarn prettier --write

Path conditions:
  yarn prettier --write: any of: **/*.{js,ts,md,json,yml,yaml}
  forge fmt: any of: **/*.sol
